/* ##################################
 * #  Custom Volume Module Styling  #
 * ################################## */

@include styleModule(
    // class name
    'cmodule-hypreco-updater',
    // styling properties
    (
        'text-color': #cba6f7,
     'icon-color': #b88fe1,
     'icon-background': #242438,
     'label-background': #242438,
     'inner-spacing': 0.5em,
     'border-enabled': false,
     'border-color': #cba6f7,
     'icon-size': 1.2em
    )
);
